body{
    font-size: 0;  /* Удаление пустого места между элементами */
    margin: 0;
}
div{
    /* Позволяем элементам стоять в одном ряду. */
    display: inline-block;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняли экран. */
    width: 16.5vw;
    height: 16.5vh;
    background-color: wheat;
}


