body{
    font-size: 0;  /* Удаление пустого места между элементами */
    margin: 0;
}
img{
    position: absolute;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняют экран, оставляя небольшое пространство про запас. */
}


