body{
    font-size: 0;  /* Удаление пустого места между элементами */
    margin: 0;
}
div{
    /* Позволяем элементам стоять в одном ряду. */
    display: inline-block;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняли экран. */
    width: 10vw;
    height: 10vh;
}
div.blank{
    background-color: wheat;
}
div.snake{
    background-color: darkgreen;
}
div.apple{
    background-color: red;

    /* Яблоко будет занимать лишь часть клетки */
    width: 4vw;
    height: 4vh;
    border-top:    3vh solid  wheat;
    border-right:  3vw solid wheat;
    border-bottom: 3vh solid wheat;
    border-left:   3vw solid  wheat;
}


