body{
    font-size: 0;  /* Удаление пустого места между элементами */
}
div{
    /* Позволяем элементам стоять в одном ряду. */
    display: inline-block;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняют экран, оставляя небольшое пространство про запас. */
    width: 9vw;
    height: 9vh;
}
div.blank{
    background-color: wheat;
}
div.snake{
    background-color: darkgreen;
}
div.apple{
    background-color: red;

    /* Яблоко будет занимать лишь часть клетки */
    width: 3vw;
    height: 3vh;
    border-top:    3vh solid  wheat;
    border-right:  3vw solid wheat;
    border-bottom: 3vh solid wheat;
    border-left:   3vw solid  wheat;
}


