button{
    /* Позволяем элементам стоять в одном ряду. */
    display: inline-block;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняют экран, оставляя небольшое пространство про запас. */
    width: 15vw;
    height: 10vh;
}
