body{
    font-size: 0;  /* Удаление пустого места между элементами */
    margin: 0;
}
button{
    /* Позволяем элементам стоять в одном ряду. */
    display: inline-block;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняли экран. */
    width: 20vw;
    height: 11vh;
}
