body{
    font-size: 0;  /* Удаление пустого места между элементами */
    margin: 0;
}

/*Настройка текстовых окошек*/
.hor,.vert{
    font-size: 10px;
    position: absolute;

    /*Разделение строк по пробелам*/
    overflow-wrap: break-spaces;
}

.hor{
    width: 100%;
}

.vert{
    height: 100%;
    /* Вертикальное написание справа налево */
    writing-mode: vertical-rl;
}

/* Настройка больших дивов, вмещающих текстовые окошки */
.bigBox, .smallBox{
    position: relative;
    display: inline-block;
    width: 20vw;
}

.bigBox{
    height: 100vh;
}

.smallBox{
    height: 20vh;
}
