body{
    font-size: 0;  /* Удаление пустого места между элементами */
    background-color: wheat;
}
div{
    /*Настройка клавиш*/
    font-size: 15px;
    display: inline-block;

    /*Границы снизу и сверху*/
    border-top:    0.5vh solid  gray;
    border-bottom: 0.5vh solid gray;
}

div.white{
    /*Границы сбоку*/
    border-right:  0.5vw solid gray;
    border-left:   0.5vw solid  gray;

    width: 6vw;
    height: 30vh;
    background-color: white;
}
div.black{
    color:white;  /*Белый текст*/
    background-color: black;
    width:3vw;
    height: 15vh;
}

