body{
    font-size: 0;  /* Удаление пустого места между элементами */
    margin: 0;
}
div.cell,div.figure{
    /* Позволяем элементам стоять в одном ряду. */
    display: inline-block;
    /* Настройка размеров таким образом, чтобы элементы почти полностью заполняли экран. */
    width: 10vw;
    height: 10vh;
    background-color: wheat;
}

